.play {/* NADA */}

.statusMessage {
  padding: 10px;
  color: #657f8b;
  font-size: .9em;
  font-weight: bold;
  background: #EEE;
}

.sectionsAsTable,
.sectionsAsJson {
  margin: 10px 10px 0 10px;
}
