.play {/* NADA */}

.statusMessage {
  padding: 10px;
  color: #657f8b;
  font-size: .9em;
  font-weight: bold;
}

.mpegTags {
  padding: 10px;
  color: #657f8b;
  font-size: .9em;
  font-weight: bold;
}
