.ui {
  position: relative; // see .footer
  z-index: 0;
  width: 100%;
  min-height: 100%;
  @media (min-width: 980px) {width: 980px;} // Stop expanding after 980px
  margin: 0 auto;
  font-size: 14px;
}

.header {/* NADA */}

.content {
  padding-bottom: 50px; // Keep in sync with footer height
}

.footer {
  position: absolute; // rel to .ui
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
